.box{
  border: 5px solid;
  padding: 5px;
  width: 80%;
  margin-bottom: 30px;
}

.counter{
 margin-bottom: 30px;
}

.name{
  margin-top: 40px 40px;
  border: 5px solid;
  width: 30%;
  padding-bottom: 20px;
}

.register{
  margin-top: 50px;
  border: 2px solid black;
  width: 30%;
  flex-direction: column;
  
}

.board{
  display: grid;
  background-color: rgb(153, 171, 189);
  border:1px solid black ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  margin-top: 20px;
  text-align: center;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  box-sizing: border-box;
}